<div class="filter">
  <label for="filter">Поиск: </label>
  <input
    [(ngModel)]="filterValue"
    id="filter"
    name="filter"
    placeholder="Введите имя или фамилию"
  />
</div>

<div *ngIf="(students | filterStudents: filterValue).length > 0" class="list">
  <table>
    <tr>
      <th><a
        (click)="changeOrderIdState()"
      >{{orderId}}</a></th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th><a
        (click)="changeOrderAgeState()"
      >{{orderAge}}</a></th>
      <th>Отдел</th>
      <th colspan="2">
        <button
          (click)="onAddProfile()"
          class="add"
        >
          Добавить
        </button>
      </th>
    </tr>
    <tr *ngFor="let student of students | orderBy: orderType:orderState | filterStudents: filterValue ">
      <th>{{student.id}}</th>
      <td>{{student.surname}}</td>
      <td>{{student.name}}</td>
      <td>{{getAge(student)}}</td>
      <td>{{programs[student.program]}}</td>
      <td>
        <button
          (click)="onLinkProfile(student.id)"
          class="redact"
        >
          Редактировать
        </button>
      </td>
      <td>
        <button
          (click)="onDelete(student.id)"
          class="delete"
        >
          Удалить
        </button>
      </td>
    </tr>
  </table>
</div>
