<div class="filter">
  <div>
    <label for="filter">Фамилия: </label>
    <input
      [(ngModel)]="searchValue"
      id="filter"
      name="filter"
      placeholder="Введите фамилию"
    />
  </div>
  <div>
    <label for="filter_program">Программа: </label>
    <select
      [(ngModel)]="programValue"
      id="filter_program"
      name="filter_program"
    >
      <option [ngValue]="null" selected>Все</option>
      <option [ngValue]="studentProgram.web">Веб-технологии</option>
      <option [ngValue]="studentProgram.security">Информационная безопасность</option>
      <option [ngValue]="studentProgram.big_data">Большие и открытые данные</option>
      <option [ngValue]="studentProgram.cad">Интеграция и программирование в САПР</option>
    </select>
  </div>
  <div>
    <label for="filter_group">Группа: </label>
    <select
      [(ngModel)]="groupValue"
      id="filter_group"
      name="filter_group"
    >
      <option [ngValue]="''" selected>Все</option>
      <option *ngFor="let student of groups"
              [ngValue]="student!.group">
        {{student!.group}}
      </option>

    </select>
  </div>
</div>


<div *ngIf="(students
| filterStudents: searchValue
| filterPrograms: programValue
| filterGroups: groupValue).length > 0" class="list">
  <table>
    <tr>
      <th><a
        (click)="changeOrderIdState()"
      >{{orderId}}</a></th>
      <th><a
        (click)="changeOrderSurnameState()"
      >{{orderSurname}}</a></th>
      <th>Группа</th>
      <th>Направление подготовки</th>
      <th colspan="2">
        <button
          (click)="onAddProfile()"
          class="add"
        >
          Добавить
        </button>
      </th>
    </tr>
    <tr *ngFor="let student of students
    | orderBy: orderType:orderState
    | filterStudents: searchValue
    | filterPrograms: programValue
    | filterGroups: groupValue">
      <th>{{student.id}}</th>
      <td>{{student.surname}} {{student.name.charAt(0) + '.'}} {{student.patronymic !== '' ? student.patronymic!.charAt(0) + '.' : ''}}</td>
      <td>{{student.group}}</td>
      <td>{{programs[student.program]}}</td>
      <td>
        <button
          (click)="onLinkProfile(student.id)"
          class="redact"
        >
          Редактировать
        </button>
      </td>
      <td>
        <button
          (click)="onDelete(student.id)"
          class="delete"
        >
          Удалить
        </button>
      </td>
    </tr>
  </table>
</div>
