<form [formGroup]="studentForm">
  <div>
    <label for="student-surname">Фамилия: </label>
    <input
      formControlName="surname"
      id="student-surname"
      type="text"
    />
  </div>
  <div>
    <label for="student-name">Имя: </label>
    <input
      formControlName="name"
      id="student-name"
      type="text"
    />
  </div>
  <div>
    <label for="student-patronymic">Отчество: </label>
    <input
      formControlName="patronymic"
      id="student-patronymic"
      type="text"
    />
  </div>
  <div>
    <label for="student-phone">Телефон: </label>
    <input
      [textMask]="{mask: phoneMask}"
      formControlName="phone"
      id="student-phone"
      type="text"
    />
  </div>
  <div>
    <label for="student-email">E-mail: </label>
    <input
      formControlName="email"
      id="student-email"
      type="text"
    />
  </div>
  <div>
    <label for="student-birthdate">Дата рождения: </label>
    <input
      formControlName="birthdate"
      id="student-birthdate"
      type="date"
    />
  </div>
  <div>
    <label for="student-group">Группа: </label>
    <input
      formControlName="group"
      id="student-group"
      type="text"
    />
  </div>
  <div>
    <label for="student-program">Направление подготовки: </label>
    <select
      formControlName="program"
      id="student-program"
    >
      <option [ngValue]="studentProgram.web">Веб-технологии</option>
      <option [ngValue]="studentProgram.security">Информационная безопасность</option>
      <option [ngValue]="studentProgram.big_data">Большие и открытые данные</option>
      <option [ngValue]="studentProgram.cad">Интеграция и программирование в САПР</option>
    </select>
  </div>
  <div class="row">
    <button
      (click)="onSave()"
      [disabled]="studentForm.invalid"
      class="save"
    >Сохранить
    </button>

    <button
      (click)="onDelete()"
      *ngIf="id != null"
      class="delete"
    >Удалить
    </button>
  </div>
</form>
