<form [formGroup]="studentForm">
  <div>
    <label for="worker-surname">Фамилия: </label>
    <input
      formControlName="surname"
      id="worker-surname"
      type="text"
    />
  </div>
  <div>
    <label for="worker-name">Имя: </label>
    <input
      formControlName="name"
      id="worker-name"
      type="text"
    />
  </div>
  <div>
    <label for="worker-patronymic">Отчество: </label>
    <input
      formControlName="patronymic"
      id="worker-patronymic"
      type="text"
    />
  </div>
  <div>
    <label for="worker-phone">Телефон: </label>
    <input
      [textMask]="{mask: phoneMask}"
      formControlName="phone"
      id="worker-phone"
      type="text"
    />
  </div>
  <div>
    <label for="worker-email">E-mail: </label>
    <input
      formControlName="email"
      id="worker-email"
      type="text"
    />
  </div>
  <div>
    <label for="worker-birthdate">Дата рождения: </label>
    <input
      formControlName="birthdate"
      id="worker-birthdate"
      type="date"
    />
  </div>
  <div>
    <label for="worker-program">Отдел: </label>
    <select
      formControlName="program"
      id="worker-program"
    >
      <option [ngValue]="studentProgram.web">Веб-технологии</option>
      <option [ngValue]="studentProgram.security">Информационная безопасность</option>
      <option [ngValue]="studentProgram.big_data">Большие и открытые данные</option>
      <option [ngValue]="studentProgram.cad">Интеграция и программирование в САПР</option>
    </select>
  </div>
  <div class="row">
    <button
      (click)="onSave()"
      [disabled]="studentForm.invalid"
      class="save"
    >Сохранить
    </button>

    <button
      (click)="onDelete()"
      *ngIf="id != null"
      class="delete"
    >Удалить
    </button>
  </div>
</form>
